<div class="product-listing-container">
  <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search products" class="search-input">
  <div class="product-container">
    <div *ngFor="let product of filteredProducts" class="product-card">
      <img [src]="product.image" [alt]="product.title" class="product-image" >
      
      <h3 class="product-title">{{ product.title }}</h3>
      <p class="product-price">Price: {{ product.price }}</p>
      <button (click)="addToCart(product)" class="add-to-cart-button">Add to Cart</button>
      <br><br>
      <button (click)="navigateToProductDetails(product.id)" class="add-to-cart-button" style="background-color:darkslategrey;">Prouct Details</button>
    </div>
  </div>
</div>
