@page
@model MyWebApp.Pages.ImagesModel
@{

    ViewData["Title"] = "Image page";
}

<div class="text-center">
    <h1>Image of MS DHONI </h1>

    <img style="height: 300px; width: auto;" src="~/images.jfif" />

</div>