

<body>
  <nav>
    <ul>
      
      <li style="color: aliceblue; font-family:Verdana, Geneva, Tahoma, sans-serif, Times, serif; font-weight: 500;">Online Shopping Application</li>
      <li><a routerLink="/home"  routerLinkActive="active">Welcome</a></li>
      <li><a routerLink="/products" routerLinkActive="active">DashBoard</a></li>
      <li><a routerLink="/cart" routerLinkActive="active"><img style="width: 60px;height: 60px;" src="https://static.vecteezy.com/system/resources/thumbnails/009/157/893/small/shopping-cart-set-of-shopping-cart-icon-on-white-background-shopping-cart-icon-shopping-cart-design-shopping-cart-icon-sign-shopping-cart-icon-isolated-shopping-cart-symbol-free-vector.jpg"></a></li>
      <li><a routerLink="/checkout" routerLinkActive="active">Checkout</a></li>
      <li><a routerLink="/order-confirmation" routerLinkActive="active">Orders</a></li>
 
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    </ul>
  
  </nav>
  </body>

<router-outlet></router-outlet>
